.cart{ 
    width: 400px; 
    display: flex;
    flex-direction: column;
}

.cart img{ 
    width: 400px; 
}

.navbar{ 
    position: sticky; 
    top: 0; 
    padding: 2rem; 
}
.cart-by-id{ 
    position: relative; 
    top: 20%; 
    width: 60vw; 
    min-height: 50vh;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    border: 1px solid grey;
    
}

.cart-by-id img { 
    height: 100%;
}
